@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
}

.gretting {
  padding: 4%;
  background-color: #eee;
  color: #3E2C41;
}
.gretting h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 2.2vw;
}
.gretting .nama {
  letter-spacing: 3px;
  width: 33%;
  font-family: "Saira Condensed", sans-serif;
  display: flex;
  justify-content: flex-end;
}
.gretting .nama p {
  font-weight: 900;
  font-size: 3vw;
}
.gretting .wave {
  animation-name: wave-animation;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.aboutme {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: #eee;
  color: #3E2C41;
}
.aboutme .isi {
  font-family: "Saira Condensed", sans-serif;
  font-size: 4vw;
  width: 80%;
  position: relative;
  display: flex;
  animation: animatebottom 4.5s;
}
.aboutme .isi p #dev {
  color: #FFC478;
}
@keyframes animatebottom {
  from {
    bottom: -500px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.aboutme .isi a {
  text-decoration: none;
  color: inherit;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 0.1);
}
.aboutme .isi .tegal {
  border-bottom: 4px solid #FFB84C;
  box-shadow: #FFB84C;
}
.aboutme .isi .tegal:hover {
  background-color: #FFB84C;
}

.moreme {
  width: 100%;
  height: 130vh;
  display: flex;
  background-color: #eee;
  justify-content: center;
  font-family: "Saira Condensed", sans-serif;
  color: #3E2C41;
}
.moreme .con_me {
  padding: 10%;
  width: 70%;
  height: 50%;
  display: flex;
}
.moreme .con_me .more_about {
  margin: auto;
  width: 30%;
  font-size: 2.5vw;
  letter-spacing: 2px;
}
.moreme .con_me .deskripsi_aboutme {
  margin: auto;
  width: 65%;
  font-size: 2.2vw;
}
.moreme .con_me a {
  text-decoration: none;
  color: inherit;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 0.1);
}
.moreme .con_me .sunib {
  border-bottom: 4px solid #7DEDFF;
  box-shadow: #7DEDFF;
}
.moreme .con_me .sunib:hover {
  background-color: #7DEDFF;
}
.moreme .con_me .tegal {
  border-bottom: 4px solid #B4E197;
  box-shadow: #B4E197;
}
.moreme .con_me .tegal:hover {
  background-color: #B4E197;
}
.moreme .con_me .TegalProject {
  border-bottom: 4px solid #9CFF2E;
  box-shadow: #9CFF2E;
}
.moreme .con_me .TegalProject:hover {
  background-color: #9CFF2E;
}
.moreme .con_me .bncc {
  border-bottom: 4px solid #47B5FF;
  box-shadow: #47B5FF;
}
.moreme .con_me .bncc:hover {
  background-color: #47B5FF;
}
.moreme .con_me .laget {
  border-bottom: 4px solid #B0EACD;
  box-shadow: #B0EACD;
}
.moreme .con_me .laget:hover {
  background-color: #B0EACD;
}

.skill {
  width: 100%;
  height: 25vh;
  padding: 0px;
  display: flex;
  background-color: #eee;
  justify-content: center;
  align-items: center;
}
.skill::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.skill img {
  position: absolute;
  left: 30%;
  transform: translateY(535%);
  transition: transform 0.6s ease-out;
  will-change: transform;
}
.skill img img.scrolled {
  transform: translateY(0);
}
.skill h1 {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  font-size: 7vw;
  font-weight: 900;
  color: #fff;
  text-shadow: -10px 5px 15px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1440px) {
  .skill img {
    width: 20vw;
    position: relative;
    left: -10%;
    transform: translateY(110%);
  }
}

.language {
  font-family: "Saira Condensed", sans-serif;
  background-color: #eee;
  width: 100%;
  height: 100vh;
  color: #3E2C41;
}
.language .langcon {
  padding-top: 5%;
  margin: auto;
  width: 85%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}
.language .langcon h1 {
  font-size: 2.5vw;
  font-weight: 900;
}
.language .langcon ul {
  font-size: 2vw;
  list-style: none;
}

.experience {
  background-color: #eee;
  width: 100%;
  height: 100vh;
}
.experience .exp-judul {
  height: 35vh;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-weight: 900;
  font-size: 7vw;
  color: #fff;
  text-shadow: -20px 5px 15px rgba(0, 0, 0, 0.19);
}
.experience .exp-tokotronik {
  margin: auto;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
  font-family: "Saira Condensed", sans-serif;
  color: #3E2C41;
}
.experience .exp-tokotronik .linkinkubatek {
  display: block;
  position: relative;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  color: #F9B208;
}
.experience .exp-tokotronik .linkinkubatek:hover {
  color: #f98404;
}
.experience .exp-tokotronik .linkinkubatek::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #F9B208;
  width: 100%;
  height: 7%;
  bottom: 8%;
}
.experience .exp-tokotronik .linkinkubatek:hover::before {
  transform-origin: right top;
  transform: scale(0, 1);
}
.experience .exp-tokotronik .linkinkubatek::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #F98404;
  width: 100%;
  height: 7%;
  bottom: 8%;
  pointer-events: none;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s cubic-bezier(0.37, 0.16, 0.12, 1);
}
.experience .exp-tokotronik .linkinkubatek:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
.experience .exp-PTLUI {
  margin: auto;
  width: 70vw;
  padding-top: 3.4vh;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
  font-family: "Saira Condensed", sans-serif;
  color: #3E2C41;
}
.experience .exp-PTLUI .PTLUI {
  display: block;
  position: relative;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  color: #62CDFF;
}
.experience .exp-PTLUI .PTLUI:hover {
  color: #537FE7;
}
.experience .exp-PTLUI .PTLUI::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #62CDFF;
  width: 67%;
  height: 7%;
  bottom: 8%;
}
.experience .exp-PTLUI .PTLUI:hover::before {
  transform-origin: right top;
  transform: scale(0, 1);
}
.experience .exp-PTLUI .PTLUI::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #537FE7;
  width: 67%;
  height: 7%;
  bottom: 8%;
  pointer-events: none;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s cubic-bezier(0.37, 0.16, 0.12, 1);
}
.experience .exp-PTLUI .PTLUI:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
.experience .exp-PTLUI2 {
  margin: auto;
  width: 70vw;
  padding-top: 3.4vh;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
  font-family: "Saira Condensed", sans-serif;
  color: #3E2C41;
}
.experience .exp-PTLUI2 .PTLUI {
  display: block;
  position: relative;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  color: #62CDFF;
}
.experience .exp-PTLUI2 .PTLUI:hover {
  color: #537FE7;
}
.experience .exp-PTLUI2 .PTLUI::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #62CDFF;
  width: 87%;
  height: 7%;
  bottom: 8%;
}
.experience .exp-PTLUI2 .PTLUI:hover::before {
  transform-origin: right top;
  transform: scale(0, 1);
}
.experience .exp-PTLUI2 .PTLUI::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #537FE7;
  width: 87%;
  height: 7%;
  bottom: 8%;
  pointer-events: none;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s cubic-bezier(0.37, 0.16, 0.12, 1);
}
.experience .exp-PTLUI2 .PTLUI:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.jet {
  width: 100%;
  height: 30vh;
  background-color: #eee;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jet::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.jet img {
  position: relative;
  transform: translateY(217%);
  transition: transform 0.6s ease-out;
  will-change: transform;
}
.jet img.scrolled {
  transform: translateY(0);
}
.jet h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 900;
  font-size: 7vw;
  color: #fff;
  text-shadow: -10px 5px 15px rgba(0, 0, 0, 0.19);
}
.jet .pro {
  position: relative;
  left: 2%;
}
.jet .S {
  position: relative;
  right: 5%;
}
@media screen and (max-width: 1440px) {
  .jet img {
    width: 20vw;
    position: relative;
    transform: translateY(270%);
  }
}

.container {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 100%;
  height: 35rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
  color: #3E2C41;
}
.slider .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}
.slider .box .details {
  padding: 0rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}
.slider .box .details h1 {
  font-size: 3.5rem;
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.slider .box .details p {
  display: inline-block;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.3rem;
  color: #3E2C41;
  margin-bottom: 2rem;
  margin-right: 5rem;
}
.slider .box .details button {
  padding: 1rem 3rem;
  background-color: rgba(170, 170, 170, 0.6666666667);
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slider .box .details button a {
  color: #3E2C41;
  text-decoration: none;
}
.slider .box .details button:hover {
  opacity: 0.8;
}
.slider .box .details button:focus {
  outline: none;
  border: none;
}
.slider .box1 {
  background-color: #eee;
}
.slider .box2 {
  background-color: #eee;
}
.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}
.slider .illustration img {
  height: 25rem;
  width: 40rem;
  border-radius: 1rem;
}
@media screen and (max-width: 1440px) {
  .slider .illustration img {
    height: 20rem;
    width: 30rem;
  }
}

.space {
  width: 100%;
  height: 15vh;
  background-color: #eee;
}

.contact-con {
  width: 100%;
  background-color: #eee;
}
.contact-con .judul-contact {
  text-align: center;
  font-weight: 900;
  font-size: 7vw;
  font-family: "Bebas Neue", cursive;
  text-shadow: -10px 5px 15px rgba(0, 0, 0, 0.19);
  color: #fff;
}

.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.sosmed ul {
  position: relative;
  display: flex;
  z-index: 5;
}
.sosmed ul li {
  position: relative;
  list-style: none;
  margin: 2vw;
}
.sosmed ul li a {
  color: #3E2C41;
  width: 6vw;
  height: 13vh;
  text-align: center;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  display: table-cell;
  font-size: 3em;
  border-radius: 10px;
  border: 1px solid rgba(192, 182, 182, 0.1);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}
.sosmed ul li a:hover {
  transform: translateY(-20px);
}

.copyright {
  background-color: #eee;
  padding: 1%;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1vw;
  color: #3E2C41;
}

@media screen and (max-width: 768px) {
  .gretting {
    padding: 10%;
  }
  .gretting h1 {
    font-size: 4vw;
  }
  .gretting .nama {
    width: 65%;
  }
  .gretting .nama p {
    font-size: 4vw;
  }
  .aboutme {
    height: 90%;
    width: 100%;
  }
  .aboutme p {
    font-size: 9vw;
  }
  .moreme {
    height: 90vh;
    display: flex;
    align-items: center;
  }
  .moreme .con_me .more_about {
    font-size: 4vw;
  }
  .moreme .con_me .deskripsi_aboutme {
    font-size: 3.3vw;
  }
  .skill h1 {
    font-size: 6rem;
  }
  .skill img {
    width: 15rem;
    left: -20%;
    transform: translateY(88%);
  }
  .language {
    height: 70vh;
  }
  .language .langcon {
    width: 85%;
  }
  .language .langcon h1 {
    font-size: 4vw;
  }
  .language .langcon ul li {
    font-size: 3vw;
  }
  .experience {
    height: 80vh;
  }
  .experience .exp-judul {
    height: 20vh;
    font-size: 6rem;
  }
  .experience .exp-tokotronik {
    font-size: 2.9vw;
  }
  .experience .exp-PTLUI {
    font-size: 2.9vw;
  }
  .jet {
    height: 20vh;
  }
  .jet h1 {
    font-size: 6rem;
  }
  .jet .pro {
    position: relative;
    left: 4%;
  }
  .jet .S {
    position: relative;
    right: 10%;
  }
  .jet img {
    width: 15rem;
    transform: translateY(280%);
  }
  .container {
    height: 50vh;
  }
  .slider .box {
    height: 50vh;
  }
  .slider .box .details {
    padding-top: 4rem;
    padding-left: 4rem;
    width: 30vw;
  }
  .slider .box .details h1 {
    font-size: 4vw;
  }
  .slider .box .details p {
    margin-right: 0rem;
    font-size: 2vw;
  }
  .slider .box .details button {
    padding: 0.6rem 1rem;
  }
  .slider .box .details button a {
    font-size: 1.5vw;
  }
  .slider .box .illustration {
    padding-right: 3rem;
  }
  .slider .box .illustration .inner img {
    width: 40vw;
    height: 20vh;
  }
  .space {
    height: 10vh;
  }
  .contact-con .judul-contact {
    font-size: 6rem;
  }
  .contact-con .isi-contact {
    width: 80%;
  }
  .contact-con .form-con .in {
    font-size: 2vw;
  }
  .contact-con .form-con .msg {
    font-size: 2vw;
  }
  .contact-con .form-con .send {
    font-size: 2vw;
  }
  .sosmed ul li {
    margin: 3vw;
  }
  .sosmed ul li a {
    width: 15vw;
    height: 8vh;
  }
  .copyright {
    font-size: 2vw;
  }
}
@media screen and (max-width: 414px) {
  .skill h1 {
    left: 45%;
    font-size: 4rem;
  }
  .skill img {
    position: relative;
    width: 10rem;
    left: -18%;
    transform: translateY(85%);
  }
  .language .langcon h1 {
    font-size: 5vw;
  }
  .language .langcon ul li {
    font-size: 4vw;
  }
  .experience .exp-judul {
    font-size: 4rem;
  }
  .jet h1 {
    font-size: 4rem;
  }
  .jet img {
    width: 10rem;
    position: relative;
    transform: translateY(25%);
  }
  .slider .box .details h1 {
    font-size: 6vw;
  }
  .slider .box .details p {
    font-size: 2.1vw;
  }
  .slider .box .illustration .inner img {
    width: 30vw;
    height: 15vh;
  }
  .contact-con .judul-contact {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */